<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title><%= app_name %></title>
		<style>body {  
		  font: 16px Helvetica, Arial, sans-serif;
		  background: #eaecf2;
		}
		</style>
	</head>
	<body>
		<div style="min-height:100%!important;width:100%!important;margin:0;padding:0">
		<table style="border-collapse:collapse!important;height:100%!important;margin:0;padding:0;width:100%!important" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
			<tbody>
				<tr>
					<td style="height:100%!important;width:100%!important;border-top-width:4px;margin:0;padding:20px" align="center" valign="top">
						<table style="border-collapse: collapse ! important; width: 60%; border: 1px solid rgb(221, 221, 221); min-width: 350px;" border="0" cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td align="center" valign="top">
										<table style="background-color:#3f3d4b;border-bottom-color:#cccccc;border-bottom-style:solid;border-bottom-width:1px;border-collapse:collapse!important" border="0" cellpadding="0" cellspacing="0" width="100%">
											<tbody>
												<tr>
													<td style="color:#505050;font-family:Helvetica;font-size:20px;font-weight:bold;line-height:20px;table-layoutext-align:left;vertical-align:middle;padding:10" align="left" valign="top">
		  												<table border="0">
		    												<tbody>
		    													<tr>
		      														<td>
		  																<img style="width:70px;min-height:70px;border-width:0px;border-style:solid" src="<%= host_name %>/images/logo.png" alt="HelloDriver!" class="CToWUd" height="70" border="0" width="100">
		      														</td>
		      														<td style="padding-left: 25px; color: rgb(234, 236, 242);font-size:24">
		      															Start your engines!
		      														</td>
		    													</tr>
		  													</tbody>
		  												</table>
		  											</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td align="center" valign="top">
										<table style="background-color:#ffffff;border-bottom-color:#cccccc;border-bottom-style:solid;border-bottom-width:1px;border-collapse:collapse!important;border-top-color:#ffffff;border-top-style:solid;border-top-width:1px" border="0" cellpadding="0" cellspacing="0" width="100%">
											<tbody>
												<tr>
													<td style="color:#505050;font-family:Helvetica;font-size:14px;line-height:21px;text-align:left;padding:20px" align="left" valign="top">
														<h2>Let's get your sign up sorted</h2>
														<br>Hi <%= user.first_name %>,<br>
														<br>Thanks for signing up to HelloDriver! Please <a href="<%= host_name %>/verify?email=<%= user.email %>&token=<%= user.session_token %>" target="_blank">verify your email</a> to complete your signup.
														<br><br>
														If you have any questions, mail us at <a href="mailto:<%= hello_email %>" target="_blank">hello@hellodriverapp.com</a>.
														<br>
														<br>
														Happy travels&nbsp;<br>
														The HelloDriver! Team
														<br>
														&nbsp;
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td align="center" valign="top">
										<table style="background-color:#ffffff;border-collapse:collapse!important;border-top-color:#ffffff;border-top-style:solid;border-top-width:1px" border="0" cellpadding="0" cellspacing="0" width="100%">
											<tbody>
												<tr>
													<td style="color:#808080;font-family:Helvetica;font-size:10px;line-height:15px;text-align:left;padding:0 20px 20px" align="left" valign="top">
														<br>
														<em>You are receiving this email because you signed up for new account at <a href="<%= host_name %>" style="color:#808080" target="_blank">www.hellodriverapp.com</a>.
														<br><br>
														Copyright © 2015, All rights reserved.
														</em>
														<br>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="yj6qo"></div>
		<div class="adL">
			<br>
		</div>
	</div>
	</body>
</html>